# Ignore Visual Studio Code settings
.vscode/
.obj/

# Ignore object files
*.o

# Ignore test files
input.txt
*.csv
.Rhistory
.RData
*.png

# Ignore the test executable
main
runner

# Ignore latex temporary files
*.log
*.synctex.gz
*.toc
*.aux
*.out