# Ignore Visual Studio Code settings
.vscode/
.obj/

# Ignore object files
*.o

# Ignore test files
.Rhistory
.RData

# Ignore the test executable
main
runner

# Ignore latex temporary files
*.log
*.synctex.gz
*.gz.sum.synctex
*.toc
*.aux
*.out